header{
    background-color:#003b95;
    color: white;
}

nav{
    height: 4rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.sitename{
    font-size: 1.2rem;
    font-weight: 600;
}


.chip {
    background-color: #003b95;
    color: white;
}


.background_image{
    height: 25rem;
}
